# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.docx

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.json
*.sqlite
*.vsidx
/.vs/Service-Fabric-Troubleshooting-Guides/v17/DocumentLayout.json
/.vs/Service-Fabric-Troubleshooting-Guides/v17/.wsuo
/.vs/Service-Fabric-Troubleshooting-Guides/copilot-chat/
/.vs/Service-Fabric-Troubleshooting-Guides/CopilotIndices/
